.pad {
  &__moods,
  &__note,
  &__attachments {
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    width: 90%;
  }

  &__moods {
    border: solid 1px #999999;

    & > span {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    &_mood {
      display: flex;
      flex-direction: column;
      margin: 10px;

      & > svg {
        border: solid 5px transparent;
        border-radius: 40px;
      }
    }
  }

  &__note {
    border: solid 1px #999999;
    font-size: 18px;
    min-height: 220px;
    position: relative;
    text-align: left;

    & > div {
      height: 100%;
      position: absolute;
      width: 100%;
    }
  }

  &__attachments {
    align-items: center;
    border: dashed 1px #999999;
    display: flex;
    height: 140px;
    justify-content: center;

    & > span {
      width: 100%;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 40px;
  }

  input,
  select,
  textarea {
    width: 200px;
  }
}
