.log-entry {

  &__log {
    display: flex;
    flex-direction: column;
    justify-content: center;
        margin: 10px 35px;
    text-align: center;

    & > h3 {
      text-align: left;
    }

    &_entry {
      border: solid 1px #999999;
      border-radius: 5px;
      min-height: 120px;
      text-align: left;
      width: 300px;

      &_header {
        &_1 {
          align-items: center;
          display: flex;
        }

        & svg {
          margin: 0 5px;
        }
        align-items: center;
        color: #999999;
        display: flex;
        justify-content: space-between;
        margin: 0 15px;
      }

      &_body {
        margin: 10px 25px 25px;
      }
    }
  }

  input,
  select,
  textarea {
    width: 200px;
  }
}
