.main-drawer-content {
  &__ctas {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 1rem 2.5rem 0;
  }

  &__drawers {
    margin-top: 1.5rem;
    padding-left: 3.8rem;

    & > h2 {
      text-align: left;
    }
  }
}
