.header {
  align-items: center;
  background-color: #333333;
  display: flex;
  flex-direction: row;
  font-size: calc(1rem + 1vmin);
  justify-content: space-between;
  padding: 1rem;

  &__logo {
    align-items: center;
    display: flex;

    &_name {
      color: whitesmoke;
      font-style: italic;
      margin: 0 0 0 15px;
    }
  }
}
