.hero {
  align-items: center;
  background: url("../../../res/hero_background.png") no-repeat;
  display: flex;
  justify-content: center;
  min-height: calc(90vh - 60px);

  &__content {
    margin-top: 200px;

    &-devices {
      height: 80%;
      margin: 4rem;
    }
  }
}
