.overlay {
	-webkit-backdrop-filter: blur(.4rem * 2);
	backdrop-filter: blur(.4rem * 2);
	background: rgba(0, 0, 0, .16);
	bottom: 0;
	height: 100%;
	left: 0;
	position: absolute;
	right: 0;
	top: 6.8rem;

	&--modal {
		z-index: 70;
	}

	&--drawer {
		z-index: 70;
	}
}
