.assistant {
  &__advice {
    border: solid 1px #999999;
    min-height: 220px;
    padding: 20px;

    &_intro,
    &_tip {
      margin-bottom: 10px;
    }
  }

  &__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 40px;
  }

  input,
  select,
  textarea {
    width: 200px;
  }
}
